# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build output
dist/
build/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor folders
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Optional: local test coverage
coverage/

# Optional: temporary files
*.tmp
*.swp
*.bak

# Optional: system files
*.DS_Store
